{% extends 'base.html.twig' %}

{% block stylesheets%}
  <link rel="stylesheet" href="../css/createarticle.css">
{% endblock %}

{% block body %}
<body>
<div class="container">
  <div class="section-title">
    <h2>Écrire un article</h2>
  </div>
  {{ form_start(formArticle) }}

      <div class="textarea">
        {{form_widget(formArticle.aContent)}}
      </div>
      <div class="inputs">
        <div class="input">
          {{form_widget(formArticle.aTitle)}}
        </div>
        <div class="input">
          {{form_widget(formArticle.aPic)}}
        </div>
      </div>
      <div class="input">
        <input type="text" placeholder="Catégorie" name="cat">
      </div>
      <button class="btn btn-outline-warning" type="submit">Envoyer</button>

  {{ form_end(formArticle)}}
</div>
</body>
{% endblock %}
