<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mon blog
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="stylesheet" href="../css/main.css">

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}
	</head>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('home') }}">
				<img src="/images/logo.png" width="30" height="30" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('home') }}">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('allArticles') }}">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('categories') }}">Catégories</a>
					</li>
				</ul>
				<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
					<ul class="navbar-nav">
						{% if not app.user %}
							<li class="nav-item">
								<a class="nav-link" href={{path('register')}}>
									<i class="fas fa-file-alt"></i>
									Inscription</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href={{path('login')}}>
									<i class="fas fa-sign-in-alt"></i>
									Connexion</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a href="{{ path('myarticles', {'id' : app.user.uId}) }}" class="nav-link">
									<i class="fas fa-newspaper"></i>
									Mes articles</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('createarticle', {'id' : app.user.uId}) }}" class="nav-link">
									<i class="fas fa-pencil-alt"></i>
									Écrire un article</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href={{path('logout')}}>
									<i class="fas fa-sign-out-alt"></i>
									Deconnexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</span>
		</div>
	</nav>
</html></header><body>
{% block body %}{% endblock %}</body>{% block javascripts %}{% endblock %}</html>
